.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000;
}

.main-footer .logo {
    height: 45px;
    width: 45px;
}

.main-footer .logo.-size {
    height: 60px;
    width: 60px;
}

.main-footer a:nth-child(odd) {
    margin-right: 40px;
}